body { background-color: #34495e; }

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-orange { background-color: #e67e22; }

.post-proj { background-color: #ecf0f1; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .75); }

.desc { padding-left: 40px; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
